input[type="range"] {
    margin: auto 0px auto auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 14px;
    width: 100%;
    cursor: pointer;
    border-radius: 14px;
    /* iOS */
    padding-right: 0px;
    border-right: 0px solid black;
}

::-webkit-slider-runnable-track {
    background: rgba(255, 132, 56, 0.75);
    height: 15px;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 0px;
    /* 1 */
    height: 15px;
    background: #FFFFFF;
    box-shadow: -100vw 0 40px 100vw rgb(213, 123, 101);
    border: 2px solid #C17070;
    /* 1 */
    border-bottom-right-radius: 66px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 60px;
    border-top-right-radius: 0px;
    /*+border-radius: 187px;*/
    -moz-border-radius: 187px;
    -webkit-border-radius: 187px;
    -khtml-border-radius: 187px;
    border-radius: 187px;
}

input[type="range"]:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 0px;
    /* 1 */
    height: 15px;
    background: rgba(122, 122, 122, 0.1);
    box-shadow: -100vw 0 40px 100vw rgba(61, 86, 125, 0.2);
    border: 2px solid #999;
    /* 1 */
    border-bottom-right-radius: 66px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 60px;
    border-top-right-radius: 0px;
    /*+border-radius: 187px;*/
    -moz-border-radius: 187px;
    -webkit-border-radius: 187px;
    -khtml-border-radius: 187px;
    border-radius: 187px;
}

::-moz-range-track {
    height: 40px;
    background: rgb(117, 167, 217);
}

::-moz-range-thumb {
    background: rgb(117, 167, 217);
    height: 1px;
    width: 1px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: -343px -667px rgb(117, 167, 217);
}

::-ms-thumb {
    background: rgb(100, 0, 45);
    border: 2px solid #999;
    height: 248px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: rgb(100, 0, 45);
    color: transparent;
    height: 79px;
    border: none;
}

::-ms-tooltip {
    display: inline-block;
}
