<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/spriteSetStyle.css">
    <!-- <style>
    .column {
        float: left;
        padding: 10px;
        background-color: rgb(215, 226, 244);
    }

    .boundary {
        border-width: 4px;
        border-style: solid;
        border-color: rgb(92, 19, 165);
    }
</style> -->
	<title>Sprite Set</title>
</head>
<body>

	<h1>Sprite Set</h1>
	
    <div class="column boundary" id="spriteSetContainer">
	   <ol id="spriteList"></ol>
    </div>

<script type="text/javascript" src="js/showSpriteSetScript.js"></script>

</body>
</html>