<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nestable/spriteSetStyle.css">
    <link rel="stylesheet" type="text/css" href="css/panelLayout.css">
    
	<title>Sprite Set</title>
</head>
<body>

	<h1>Sprite Set</h1>
	
    <div class="dd" id="spriteSetContainer">
	   <ul id="spriteList"></ul>
    </div>

    <div id="inspector">
      <p id="name">1</p>
      <img id="image" src=""></img>
    </div>

<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/nestable/nestable.js"></script>
<script type="text/javascript" src="js/showSpriteSetScript.js"></script>

</body>
</html>