#spriteSetDiv
{
	width: 1000px;
	height: 800px;
}

#inspector
{
	width: 25%;
	border: 3px solid #4EC6DE;
	float: left;
	height: 788px;
}

#inspector p
{
	font-family: "Lucida Console", Monaco, monospace;
	margin: 0 0 0 0px;
	padding-top: 25px;
}

#inspector img
{
	border: 1px;
	border-style: solid;
	border-color: #2EA8E5;
	min-width: 80px;
	min-height: 80px;
	display: block;
	margin: auto;
	border-radius: 7px;
}

#inspecorHeaderDiv
{
	border: 3px solid #4EC6DE;
}

#inspecorHeaderDiv h2
{
	margin-left: 10px;
}

#analogueParameters
{
	padding-top: 5px;
}

#staticParameters
{
	display: block;
	margin: auto;
	padding-top: 200px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	border-radius: 7px;
	width: 100%;
	height: 100%;
}

.inspectorValues
{
	float: right;
}

#speedLabel
{
	padding-right: 45px;
}

/*#cooldown{	*/
/*background-color: rgba(0,100,0,0.2);*/
/*}*/
.contentSliders
{
	padding: 0px;
	height: 50px;
	margin-bottom: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #DD7C7C;
	background-color: #684931;
	border-radius: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
}

.contentSlidersInnactive
{
	padding: 10px;
	margin-bottom: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: lightsteelblue;
	background-color: azure;
	border-radius: 10px;
	font-family: "Lucida Console", Monaco, monospace;
}

.sliders
{
	position: relative;
	height: 10%;
	margin: 10px;
}

.bars
{
	width: 90%;
}

#cooldownLabel
{
	padding-right: 26px;
}

input[type="range"]
{
	/*width: 50%;*/
	margin-right: 30px;
}

#refClassSelectId
{
	width: 100%;
	text-align-last: center;
}

#refClassDivId
{
	margin-left: 20%;
	margin-right: 20%;
}

#divButtonConfirm
{
	width: 100%;
}

#inputButtonConfirmId
{
	margin: 0 30%;
	width: 40%;
}

#imagePickerDiv
{
	position: relative;
	float: right;
	width: 165px;
	height: 767px;
	margin-left: 5%;
	left:20px;
	top:10px;
	border: 3px solid #4EC6DE;
}

#imagePickerListDiv
{
	width: 150px;
	height: 100%;
	float: right;
	overflow-y: scroll;
	margin-left: 50px;
}

.singleImgPickerDiv
{
	border: 1px solid #4EC6DE;
	border-style: solid;
	border-radius: 7px;
	margin-top: 30px;
	width: 85%;
}

.singleImgPickerDiv span
{
	float: left;
}

.singleImgPickerDiv img
{
	float: right;
}

#hideImgPickerInput {
	background-image: url(http://localhost:9001/WAR/views/css/cancel.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 18px;
	width: 18px;
	top: 4px;
	/* right: 10px; */
	left: 308px;
	border: none;
	display: block;
	float: left;
	position: absolute;
}

#imgPickerInputDiv {
	width: 200px;
	float: left;
}

#gameSelectDiv span
{
	width: 100px;
}

#agentSelectionDiv span
{
	width: 100px;
}

#gameSelectDiv span
{
	float: left;
}

#agentSelectionDiv span
{
	float: left;
}

.spriteCancelDiv
{
	height: 5px;
	float: right;
	right: -7px;
	top: 0px;
	position: absolute;
}

.spriteCancelDiv img
{
	z-index: 100;
	width: 20px;
}

#addSpriteDialogId
{
	border: 1px solid #4EC6DE;
	background-color: #4EC6DE;
}