.interactionDiv
{
    margin-bottom: 10px;
    border: 1px solid black;
    width: 250px;
    cursor: pointer;
    margin-left: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    /*+border-radius: 5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(61, 88, 88, 0.316);
}

#interactionDiv
{
    width: 46%;
    float: left;
    /*background: rgba(61, 88, 88, 0.316);*/
}

#interactionDivAdd
{
    width: 46%;
    float: left;
    /*background: rgba(61, 88, 88, 0.316);*/
}

.interactionDiv span
{
    z-index: -10;
}

#interactionDivAdd
{
    margin-bottom: 10px;
    border: 1px solid black;
    width: 250px;
    margin-left: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    /*+border-radius: 5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(61, 88, 88, 0.316);
}

#interactionDivAdd span
{
    z-index: -10;
}

#selectSuggestionInteractionId
{
    display: block;
    width: 500px;
    /* height: 20px; *//* width: 600px; *//* float: right; */
}

.pullLeft
{
    float: left;
}

.pullRight
{
    float: right;
}

#interactionList
{
    border: 1px solid #4ec3ec;
    float: left;
}

#interactionInspector
{
    width: 500px;
    height: 229px;
    position: relative;
    float: left;
    margin-left: 30px;
    border: 1px solid black;
    background: rgba(61, 88, 88, 0.316);
}

#interactionInspectorAdd
{
    width: 500px;
    height: 229px;
    position: relative;
    float: left;
    margin-left: 30px;
    border: 1px solid black;
    background: rgba(61, 88, 88, 0.316);
}

#interactionSprite1Div
{
    width: 20%;
    float: left;
    display: inline;
}

#interactionSelect
{
    margin-top: 99px;
    width: 100%;
}

#spritesToInteractDiv
{
    width: 33%;
    height: 100%;
    float: left;
    display: grid;
    overflow: scroll;
}

#spritesToInteractDivAdd
{
    width: 33%;
    height: 100%;
    float: left;
    display: grid;
    overflow: scroll;
}

#sprite1SelectId
{
    margin-top: 99px;
}

#scoreSpanId
{
    float: left;
}

#scoreInputId
{
    width: 30%;
    /*margin-left: 38%;*/
    float: right;
    margin-top: 3%;
}

#sprite1InteractionImg
{
    margin: -86px 0px 0px 12px;
    width: 30%;
}

.spanForInteractionParameters
{
    float: left;
    /*padding-right: 40px;*/
}

.forSelectParameters
{
    width: 60%;
    float: right;
    margin-right: 0px;
}

.interactionElementDiv
{
    width: 100%;
    display: inline-block;
}

.spanLimitOverflow
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
    margin-top: 2%;
    display: inline-block;
}

#spritesToInteractDiv
{
    display: inline;
}

.checkboxImgDiv
{
    width: 100%;
    display: block;
    border: 1px solid black;
    margin: 4px 0px 0px;
}

.checkboxImgDiv input
{
    margin: 5px;
}

.checkboxImgDiv img
{
    margin: 1% 2% 1px 0px;
    float: right;
    height: 100%;
    width: 11%;
}

#scoreInteractionDivId
{
    width: 100%;
}

#interactionContainerDiv
{
    width: 80%;
    margin-left: 7%;
}

#interactionContainerDivAdd
{
    width: 80%;
    margin-left: 7%;
}

.cancelDiv
{
    height: 50px;
}

.cancelDiv img
{
    z-index: -10;
    width: 20px;
}

.wrapInteractionDiv
{
    width: 280px;
}


/*--------------------------------------------------*/

* { margin: 0, padding 0}

.mask{
    display: block;
    z-index: 10000;
}

#popup
{
    top: 0;
    left: 0;
    width: 950px;
    height: 660px;
    margin: 10px auto;
    border: 1px solid #333;
    background-color: #1a1a1a00;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 10001;
    display: none;
}

#suggestionContainer
{
    display: block;
    width: 600px;
    float: right;
}

#recommenderInteractions
{
    width: 500px;
    height: 600px;
    float: right;
    border: 1px solid #4ec3ec;
    top: -200px;
    overflow: auto;
}

#sortSuggestionSelect
{

}