.div1 {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 8px;
    border: 1px solid black;
}

#div2 {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    background-color: blue;
    border: 1px solid black;
}

ul {
    list-style-type: none;
    float: left;
}

li {
    margin: 5px;
}

.div1 img {
    /*border: 1px solid #000;*/
    width: 20px;
    height: 20px;
    margin: -4px 0px 0px -6px;
}

table {
    border-color: #4ec6de;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
}

#levelDivId {
    float: left;
    width: 80%;
}

#level {
    overflow-y: auto;
    overflow-x: auto;
    height: 70%;
    width: 100%;
    float: left;
    margin-left: 25px;
}

#imageListUl {
    float: left;
}

#imageListUl li {
    display: inline-block;
    zoom: 1;
    margin: 0 0 0 9px;
    float: left;
}

#createTableDiv {
    width: 30%;
    display: inline-flex;
    border: 1px solid black;
    float: left;
}

#createTableDiv span {
    float: left;
}

#paintModeDiv {
    float: right;
    width: 8%;
    margin-right: 30%;
    border-color: #4ec6de;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
}

#paintModeInput {
    width: 25%;
    border: 1px solid #EA3B3B;
    float: right;
}

#createTableDiv label {
    width: 29%;
    float: left;
}

#tableGridContainer {
    width: 50%;
    margin: 0 auto;
}

#imageListDiv {
    border-color: #4ec6de;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
    /*float: left;*/
    margin-bottom: 30px;
    width: 30%;
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 0 1% 20px auto;
}

#imageListDiv:hover { overflow: auto;}

#imageListDiv ul {
    margin: 0px 0px 0px 0px;
}

#gridTableId
{
   margin: 0 auto;
}

#levelMapDiv
{
    width: 1600px;
}
