#divSpecialParameters
{
  margin-top: 10px;
  border: 1px solid lightsteelblue;
  border-radius: 7px;
  /*height:100%;*/
  background-color: #3d5858;
  display: block;
}

.distance
{
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.input-spacing
{
  margin-left: 70px;
  margin-right: 6px;
  height: 0%;
  width: 16%;
  float: right;
  font-family: lucinda;
  color: black;
  margin-top: 4px;
}
