.column {
        float: left;
        padding: 10px;
        background-color: rgb(215, 226, 244);
    }

    .boundary {
        border-width: 4px;
        border-style: solid;
        border-color: rgb(92, 19, 165);
    }