#terminationContainer
{
    width: 33%;
    float: left;
    border: 1px solid black;
}

#terminationInspector
{
    float: left;
    width: 33%;
    margin-right: -11px;
    border: 1px solid black;
    margin-left: 10px;
    height: 125px;
}

.terminationDiv
{
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*+border-radius: 5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #315150;
    float: left;
    margin-bottom: 10px;
    margin-left: -23px;
    margin-top: -4px;
}

.arrangeSpanAndElement
{
    width: 100%;
    height: 18px;
    margin-top: 12px;
    border: 1px solid black;
}

.pushToTheRight
{
    float: right;
}

.terminationContainerSc
{
    background-color: rgba(61, 88, 88, 0.316);
    margin-bottom: 15px;
    border: 1px solid black;
}

.terminationContainerSc span
{
    color: #4EC6DE;
}

.terminationContainerTo
{
    background-color: rgba(61, 88, 88, 0.316);
    margin-bottom: 15px;
    border: 1px solid black;
}

.terminationContainerSc span
{
    color: #4EC6DE;
}

.terminationContainerMsc
{
    background-color: rgba(61, 88, 88, 0.316);
    margin-bottom: 15px;
    border: 1px solid black;
}

.terminationContainerMsc span
{
    color: #4EC6DE;
}

.cancelTerminationDiv
{
    height: 20px;
    width: 20px;
}

.cancelTerminationDiv img
{
    height: 20px;
    width: 20px;
    margin-left: 120px;
}

.terminationMask
{
    display: block;
}

.terminationPopup
{
    display: none;
}